 <div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src={{pictureUrl}}
      alt={{name}}
    />
    <div class="card-body">
    <a href="item/{{id}}">
      <h5 class="card-title">{{name}} </h5>
    </a>

      <p class="card-text">{{price}}</p>
      
    </div>
  </div>
</div>