<div class="container">
    <div class="row">
 <h1>{{attire.name}}</h1>
 {{#if attire.pictureUrl}}
        <img src={{attire.pictureUrl}} />
        {{/if}}
<hr>
<p class="description"> {{attire.description}}</p>
<p>Fabric: {{attire.fabric}}</p>
<p>Price: {{attire.price}} </p>
<p>Available colors: </p>
<ul>
    {{#each attire.color}}
    <li>
        {{this.color}}
    </li>
    {{/each}}
</ul>
<p>Available sizes:</p> 
<ul>
    {{#each attire.size}}
    <li>
        {{this.size}}
    </li>
    {{/each}}
</ul>
<form action="/cart/{{attire.id}}/add" method="post">
     <button type="submit" value="Submit" class="form-control btn btn-primary submit px-3">Add to cart</button>
 </form>
<br>

<hr>

<p>Add a review</p>
<form action="/reviews/{{attire.id}}/add" method="POST">
<label> User </label>
<input type="text" name="user"/>
<label> Comment</label>
<textarea name="comment"> </textarea>
<button type="submit">Add review</button>
</form>
<hr>
<p>Reviews:</p>
{{#each attire.reviews }}
<p> {{comment}} -- {{user}} </p>
{{/each}}
    </div>
</div>