<div class="container">
    <h1>{{attiresFromDB.0.type}}</h1>
  <h5> {{attireLength}} products</h5>
    <div class="row">
        {{#each attiresFromDB}}
                  <div class="col-md-4">
            <div class="card">
              <img
                class="card-img-top"
                src={{pictureUrl}}
                alt={{name}}
              />
              <div class="card-body">
              <a href="/attire/{{id}}">
                <h5 class="card-title">{{name}} </h5>
              </a>

                <p class="card-text">{{price}}</p>
                
              </div>
            </div>
          </div>
        {{/each}}
    </div>
</div>