<!--
<div class="container">
  <h2>Create a new product</h2>
  <form action="//attire/{{attire.id}}/inventory" method="POST">
    <div class="row">
      <div class="col-md-4">
        <select name="size">
          <option value="">Choose Size</option>
          {{#each attire.size}}
          <option value={{attire.size}}>{{attire.size}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-4">
        <select name="color">
          <option value="">Choose Color</option>
          {{#each attire.color}}
          <option value={{attire.color}}>{{attire.color}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-4">
        <label> Quantity</label>
        <textarea type="Number" name="quantity" placeholder="Quantity"></textarea>
      </div>
    </div>
  </form>
</div>
-->